@font-face {
  font-family: "beleren";
  src: url(../assets/beleren.woff)
}

:root {
  --main-bg-color: #313338;
  --card-bg-color: #2b2d31;
  --field-bg-color: #1e1f22;
  --main-color: #f2f3f5;
  --placeholder-color: #7f8184;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}